@import url(https://fonts.googleapis.com/css?family=Kanit);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Sarabun);

.container {
    padding: 10px;
    font-family: 'Sarabun';
    background: #f7f8fc;
}
