<div class="card">
    ชื่อ : {{details?.firstname}}  {{details?.lastname}} <br>
    รหัสผู้ใช้ : {{details?.user_id}}
    <br><br><br>
    วิชาที่ลงทะเบียนแล้ว
    <table class="table table-hover table-borderless">
        <thead>
          <tr>
            <th>ชื่อวิชา</th>
            <th>รหัสวิชา</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of room">
            <td>{{item.class_name}}</td>
            <td>{{item.class_id}}</td>
          </tr>
        </tbody>
      </table>
</div>