<div class="card">
    <div class="row">
        <div class="col">ผู้ใช้งาน  :</div>
        <div class="col">{{details?.firstname}}  {{details?.lastname}}</div>
    </div>
    <div class="row">
            <div class="col">รหัสผู้ใช้ :</div>
            <div class="col"> {{details?.user_id}}</div>
    </div>
    <div class="row">
            <div class="col">อีเมลล์ :</div>
            <div class="col">{{details?.email}}</div>
    </div>

    ข้อมูลห้องเรียน
    <button class="btn btn-info btn-sm" [routerLink]="['/profile', details?.firstname]">ตรวจสอบวิชา</button>

</div>
