<div class="card">

  <div class="row align-items-center">
    <div class="mx-auto">
      <h3><i class="fas fa-robot"></i>ระบบสอบถามเนื้อหาบทเรียน</h3>
    </div>
  </div>

  <div class="row align-items-center justify-content-center">
    <div class="col">
      <ul #scrollMe class="messages">
        <div *ngFor="let message of result ">
          <li class="message appeared" [ngClass]="{'left':message.sender === 'boot',
                        'right':message.sender === 'eu'     }">
            <div class="avatar"></div>
            <div class="text_wrapper">
              <div class="text">
                <p class="time"> ({{message.data | date:'HH:mm:ss'}})</p>
                {{message.message}}
                <p class="score">{{message.score}}</p>
                
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>

  <div class="row align-items-center justify-content-center">
    <div class="col">
      <input type="text" class="form-control" (keyup.enter)="sendMessage()" [(ngModel)]="message" placeholder="กรอกคำถามที่นี่"/>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-success" (click)="sendMessage()"><i class="far fa-share-square"></i> ส่งข้อความ</button>
    </div>
  </div>
</div>