<form #registerForm="ngForm">
  <div class="card">
    <div class="card-header">เพิ่มห้องเรียน</div>
    <div class="card-body">

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="">ชื่อห้องเรียน</label>
            <input [(ngModel)]="room.class_name" name="class_name" type="text" class="form-control"
              placeholder="ชื่อห้องเรียน" #class_name="ngModel" required>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="">รหัสห้องเรียน</label>
            <input [(ngModel)]="classID" name="class_id" type="text" class="form-control" readonly>
            <input [(ngModel)]="classID" name="class_id" type="hidden" class="form-control">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="">รายวิชาที่เปิดสอน</label>
        <select class="custom-select" name="class_Subject" id="class_Subject" [(ngModel)]="class_Subject" required>
          <option *ngFor="let item of subject" value={{item.subject_Name}}>{{item.subject_Name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="">อาจารย์ผู้สอน</label>
        <input [(ngModel)]="room.teacher_name" name="teacher_name" type="text" class="form-control"
          placeholder="ชื่ออาจารย์ผู้สอน" required>
      </div>

      <div class="form-group">
        <label for="">จำนวนผู้เรียน</label>
        <input [(ngModel)]="room.total_student" name="total_student" type="text" class="form-control"
          placeholder="จำนวนผู้เรียน" required>
      </div>

    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col"><button class="btn btn-dark " (click)="goBack()">กลับ</button></div>
        <div class="d-flex justify-content-end"><button type="button" class="btn btn-primary" (click)="addClass(registerForm.value)">เพิ่มห้องเรียน</button></div>
        
      </div>
    </div>
  </div>
</form>