<div class="row">
    <div class="col"><!-- Intent -->   
        <form #intentForm="ngForm">
            <div class="card">
                <div class="card-header bg-warning">คำถาม</div>
                <div class="card-body">
                    <input type="text" ngModel class="form-control form-control-sm" name="displayName" placeholder="หัวข้อมคำถาม">
                    <input type="text" ngModel class="form-control form-control-sm" name="text" placeholder="ประโยค">
                    <input type="text" ngModel class="form-control form-control-sm" name="entityType" placeholder="หมวดหมู่คำถาม">
                    <!-- <input type="text" ngModel class="form-control form-control-sm" name="alias" placeholder="alias"> -->
                    <input type="text" ngModel class="form-control form-control-sm" name="messageText" placeholder="คำตอบที่จะแสดง">
                </div>
                <div class="card-footer">
                    <div class="button" class="btn btn-warning" (click)="createIntent(intentForm.value)">เพิ่มคำถาม</div>
                </div>
            </div>
        </form>
    </div>
    <div class="col"><!-- Entity Type -->
        <form #entityTypeForm="ngForm">
            <div class="card">
                <div class="card-header bg-success">หมวดหมู่</div>
                <div class="card-body">
                    <input type="text" ngModel class="form-control form-control-sm" name="displayName" placeholder="หัวข้อมหมวดหมู่คำถาม">
                    <!-- <input type="text" ngModel class="form-control form-control-sm" name="kind" placeholder="KIND_MAP"> -->
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col"><div class="button" class="btn btn-success btn-block" (click)="createEntityType(entityTypeForm.value)">สร้างหมวดหมู่คำถาม</div></div>
                        <div class="col"><div class="button" class="btn btn-success btn-block" (click)="listEntity()">รายชื่อหมวดหมู่คำถาม</div></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col"><!-- Entity -->
        <form #entityForm="ngForm">
            <div class="card">
                <div class="card-header bg-info">เนื้อหาภายในหมวดหมู่ </div>
                <div class="card-body">
                    <input type="text" ngModel class="form-control form-control-sm" name="entityTypeId" placeholder="รหัสหมวดหมู่">
                    <input type="text" ngModel class="form-control form-control-sm" name="entityValue" placeholder="ประเภท">
                    <div class="form-row">
                        <div class="col"><input type="text" ngModel class="form-control form-control-sm" name="synonyms1" placeholder="ตัวอย่าง"></div>
                        <div class="col"><input type="text" ngModel class="form-control form-control-sm" name="synonyms2" placeholder="ตัวอย่าง"></div>
                        <div class="col"><input type="text" ngModel class="form-control form-control-sm" name="synonyms3" placeholder="ตัวอย่าง"></div>
                        <div class="col"><input type="text" ngModel class="form-control form-control-sm" name="synonyms4" placeholder="ตัวอย่าง"></div>
                    </div>
                    
                    
                </div>
                <div class="card-footer">
                    <div class="button" class="btn btn-info" (click)="createEntity(entityForm.value)">เพิ่มข้อมูล</div>
                    <!-- <div class="button" class="btn btn-primary" (click)="listEntity()">List Entity</div> -->
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="row">
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">รายชื่อหมวดคำถาม</th>
                    <th scope="col">รหัสหมวดคำถาม</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data">
                      <td>xx</td>
                      <td>{{item.column1}}</td>
                  </tr>
                </tbody>
              </table>
</div>

<!-- /////////////////////////////////////////// -->
<div class="row">
<div class="col"></div>
<div class="col"></div>
</div>