<div class="row">
    <div class="col col-3">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-dark btn-block" (click)="goBack()">กลับ</button>
            </div>
        </div><br>
        <div class="card-header card-header-pp">Function</div>
        <div class="card">
            <br>
            <button class="btn btn-outline-warning btn-block" (click)="toggleIntentShow()">คำถาม</button>
            <button class="btn btn-outline-success btn-block" (click)="toggleEntityTypeShow()">หัวข้อหลัก</button>
            <button class="btn btn-outline-info btn-block" (click)="toggleEntityShow()">เนื้อหาภายในหัวข้อ</button>
        </div>
    </div>
    <div class="col col-9">
        <!-- Intent -->
        <div *ngIf="intentShown" id="divshow">
            <form #intentForm="ngForm">
                <div class="card">
                    <div class="card-header bg-warning">คำถาม</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><input type="text" ngModel class="form-control form-control-sm"
                                    name="displayName" placeholder="หัวข้อคำถาม"></div>
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">ห้องเรียน</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01" name="class_id"
                                        [(ngModel)]="class_id">
                                        <option *ngFor="let item of className" value={{item.class_id}}>
                                            {{item.class_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">บทที่ </label>
                                    </div>
                                    <input type="text" ngModel class="form-control form-control-sm" name="chapter"
                                        placeholder="บทที่">
                                </div>
                            </div>
                        </div>


                        <br>
                        <input type="text" ngModel class="form-control form-control-sm" name="text1"
                            placeholder="ตัวอย่างคำถามที่ 1">

                        <input type="text" ngModel class="form-control form-control-sm" name="text2"
                            placeholder="ตัวอย่างคำถามที่ 2">

                        <input type="text" ngModel class="form-control form-control-sm" name="text3"
                            placeholder="ตัวอย่างคำถามที่ 3">
                        <!-- <input type="text" ngModel class="form-control form-control-sm" name="alias" placeholder="alias"> -->
                        <br>
                        <!-- <input type="text" ngModel class="form-control form-control-sm" name="entityType" placeholder="หัวข้อหลัก"> -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">หัวข้อหลัก</label>
                            </div>
                            <select class="custom-select custom-select" ngModel name="entityType" id="class_Subject"
                                required>

                                <option *ngFor="let item of name" value={{item}}>{{item}}</option>
                            </select>
                        </div>
                        <br>
                        <input type="text" ngModel class="form-control form-control-sm" name="messageText"
                            placeholder="คำตอบที่จะแสดง">
                    </div>
                    <div class="card-footer">
                        <div class="button" class="btn btn-warning" (click)="createIntent(intentForm.value)">เพิ่มคำถาม
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Intent -->
        <!-- EntityType -->
        <div *ngIf="entityTypeShown" id="divshow">
            <form #entityTypeForm="ngForm">
                <div class="card">
                    <div class="card-header bg-success">หัวข้อหลัก</div>
                    <div class="card-body">
                        <input type="text" ngModel class="form-control form-control-sm" name="displayName"
                            placeholder="หัวข้อหลัก">
                        <!-- <input type="text" ngModel class="form-control form-control-sm" name="kind" placeholder="KIND_MAP"> -->
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <div class="button" class="btn btn-success"
                                    (click)="createEntityType(entityTypeForm.value)">สร้างหัวข้อคำถาม</div>
                            </div>
                            <div class="col">
                                <!-- <div class="button" class="btn btn-success btn-block" (click)="listEntity()">รายชื่อหัวข้อ</div> -->
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!-- EntityType -->
        <!-- Entity -->
        <div *ngIf="entityShown">
            <form #entityForm="ngForm">
                <div class="card">
                    <div class="card-header bg-info">เนื้อหาภายในหัวข้อ </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">รหัสหัวข้อ</label>
                                    </div>
                                    <select class="custom-select custom-select" ngModel name="entityTypeId"
                                        id="entityTypeId" required>

                                        <option *ngFor="let item of rows" value={{item}}>{{item}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">ห้องเรียน</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect01" name="class_id"
                                            [(ngModel)]="class_id">
                                            <option *ngFor="let item of className" value={{item.class_id}}>
                                                {{item.class_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">บทที่</label>
                                    </div>
                                    <input type="text" ngModel class="form-control form-control-sm" name="chapter"
                                        placeholder="บทที่">
                                </div>
                            </div>



                        </div>

                        <input type="text" ngModel class="form-control form-control-sm" name="entityValue"
                            placeholder="หัวข้อเนื้อหา">
                        <div class="form-row">
                            <div class="col"><input type="text" ngModel class="form-control form-control-sm"
                                    name="synonyms1" placeholder="คีย์เวิร์ด"></div>
                            <div class="col"><input type="text" ngModel class="form-control form-control-sm"
                                    name="synonyms2" placeholder="คีย์เวิร์ด"></div>
                            <div class="col"><input type="text" ngModel class="form-control form-control-sm"
                                    name="synonyms3" placeholder="คีย์เวิร์ด"></div>
                            <div class="col"><input type="text" ngModel class="form-control form-control-sm"
                                    name="synonyms4" placeholder="คีย์เวิร์ด"></div>
                        </div>


                    </div>
                    <div class="card-footer">
                        <div class="button" class="btn btn-info" (click)="createEntity(entityForm.value)">เพิ่มข้อมูล
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!-- Entity -->
    </div>


</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">รายการชื่อ"หัวข้อหลัก"</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of name">
                    <td>{{item}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">รหัสหัวข้อ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of rows">
                    <td>{{item}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>