
<!-- Intent -->
<form #intentForm="ngForm">
    <div class="card">
        <div class="card-header bg-warning">คำถาม // Intent</div>
        <div class="card-body">
            <input type="text" ngModel class="form-control form-control-sm" name="displayName" placeholder="displayName">
            <input type="text" ngModel class="form-control form-control-sm" name="text" placeholder="text">
            <input type="text" ngModel class="form-control form-control-sm" name="entityType" placeholder="entityType">
            <input type="text" ngModel class="form-control form-control-sm" name="alias" placeholder="alias">
            <input type="text" ngModel class="form-control form-control-sm" name="messageText" placeholder="messageText">
        </div>
        <div class="card-footer">
            <div class="button" class="btn btn-warning" (click)="createIntent(intentForm.value)">Add Intent</div>
        </div>
    </div>
</form>
<br>
<!-- Entity Type -->
<form #entityTypeForm="ngForm">
    <div class="card">
        <div class="card-header bg-success">หมวดหมู่ // Enitity Type</div>
        <div class="card-body">
            <input type="text" ngModel class="form-control form-control-sm" name="displayName" placeholder="displayName">
            <input type="text" ngModel class="form-control form-control-sm" name="kind" placeholder="KIND_MAP">
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col"><div class="button" class="btn btn-success" (click)="createEntityType(entityTypeForm.value)">Add Entity Type</div></div>
                <div class="col"><div class="button" class="btn btn-success" (click)="listEntity()">List Entity</div></div>
            </div>
        </div>
    </div>
</form>
<br>

<!-- Entity -->
<form #entityForm="ngForm">
    <div class="card">
        <div class="card-header bg-info">หมวดหมู่ // Enitity</div>
        <div class="card-body">
            <input type="text" ngModel class="form-control form-control-sm" name="entityTypeId" placeholder="entityTypeId">
            <input type="text" ngModel class="form-control form-control-sm" name="entityValue" placeholder="entityValue">
            <div class="form-row">
                <div class="col"><input type="text" ngModel class="form-control form-control-sm" name="synonyms1" placeholder="synonyms1"></div>
                <div class="col"><input type="text" ngModel class="form-control form-control-sm" name="synonyms2" placeholder="synonyms2"></div>
                <div class="col"><input type="text" ngModel class="form-control form-control-sm" name="synonyms3" placeholder="synonyms3"></div>
                <div class="col"><input type="text" ngModel class="form-control form-control-sm" name="synonyms4" placeholder="synonyms4"></div>
            </div>
            
            
        </div>
        <div class="card-footer">
            <div class="button" class="btn btn-info" (click)="createEntity(entityForm.value)">Add Entity</div>
            <!-- <div class="button" class="btn btn-primary" (click)="listEntity()">List Entity</div> -->
        </div>
    </div>
</form>