<label for="">ผู้ใช้งาน : {{ details?.firstname }}</label> <br>
<label for="" name="user_id">รหัสผู้ใช้งาน : {{ details?.user_id }}</label> <br>
<button type="button" class="btn btn-dark" (click)="goBack()">กลับ</button>

<hr>
<div class="row mb-5">
  <div class="card-deck">
  <div class="card bg-light mb-3" style="width: 18rem;" *ngFor="let item of room">
      <form #enrollForm="ngForm" (submit)="onSubmit(enrollForm.value)">
          <!-- <form #enrollForm="ngForm" (submit)="enroll()"> -->
          <input type="hidden" [(ngModel)]="item.class_id" name="class_id" class="form-control">
          <input type="hidden" [(ngModel)]="item.class_name" name="class_name" class="form-control">
          <input type="hidden" [(ngModel)]="details.user_id" name="user_id" class="form-control">
          <input type="hidden" [(ngModel)]="item.class_Subject" name="class_Subject" class="form-control">
          <input type="hidden" [(ngModel)]="item.teacher_name" name="teacher_name" class="form-control">
      
    <div class="card-body">
      <h5 class="card-title">{{item.class_name}}</h5>
      <h6 class="card-text">{{item.class_id}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">รายวิชา : {{item.class_Subject}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">อาจารย์ผู้สอน : {{item.teacher_name}}</h6>
      <p class="card-text">{{item.class_description}}</p>
      <button type="submit" class="btn btn-primary" >ลงทะเบียน</button>
    </div>
          </form>
  </div>
  </div>

</div>