
<!-- หน้าอัพโหลด -->
<form #contentForm="ngForm">
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">อัพโหลดเนื้อหา</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="">ชื่อเรื่อง</label>
        <!-- ++++++++++++++++++ชื่อเรื่อง&บท++++++++++++++++++ -->
        <input type="text" ngModel class="form-control" name="content_name" id="content_name" placeholder="กรอกชื่อเรื่อง">
        <!-- ++++++++++++++++++ ClassId ++++++++++++++++++ -->
        <input type="hidden" name="class_id" id="class_id" *ngFor="let item of room" [(ngModel)]="item.class_id">
        <input class="form-control" name="content_address" [(ngModel)]="subf" placeholder="ที่อยู่ไฟล์" id="content_address" type="text">

        <!-- ++++++++++++++++++ชื่อไฟล์++++++++++++++++++ -->
        <input type="file" name="fileUpload" id="fileUpload" [(ngModel)]="subf" ng2FileSelect [uploader]="uploader">
        <button type="button" class="btn btn-dark" (click)="uploader.uploadAll()">อัพโหลด</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
        <button type="button" class="btn btn-primary" (click)="upload(contentForm.value)">บันทึก</button>
      </div>
    </div>
  </div>
</div>
</form>


<div class="row">
  <div class="col col-sm-3">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-dark btn-block" (click)="goBack()">กลับ</button>
      </div>
    </div><br>
    <div class="card">
      <div class="card-header">
        Function
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-dark btn-block" data-toggle="modal" data-target="#uploadModal">
          เพิ่มเนื้อหา
        </button>
        <button type="button" class="btn btn-dark btn-block" routerLink="/class/manageQuestion"> 
            จัดการคำถาม
        </button>
        <button type="button" class="btn btn-dark btn-block" (click)="toggleChatShow()"> 
            Chat
        </button>
        <button type="button" class="btn btn-dark btn-block" (click)="toggleDataShow()"> 
            เนื้อหาบทเรียน
        </button>
      </div>
    </div>
    <br>
    <div class="card w-100">
        <h3 class="card-header bg-warning" *ngFor="let item of room">
          {{item.class_name}}
        </h3>
        <div class="card-body">
          <div *ngFor="let item of _content">
            <button class="btn btn-outline-success btn-block btn-sm">{{item.content_name}}</button>
            
          </div>
      
        </div>
      </div>
  </div>
  <div class="col col-sm-9">
    <div class="col">

      <div *ngIf="chatShown" id="divshow">
        <app-ui></app-ui>
      </div>
      <div *ngIf="dataShown" id="divshow">
        <div class="row">เนื้อหา</div>
        <div class="card scroll">
          <pdf-viewer [src]="pdf_src" 
          [render-text]="true"
          style="display: block;"
        ></pdf-viewer>
        </div>
      </div>

    </div>
  </div>
</div>
