<h3>เพิ่มผู้ใช้ในระบบ</h3>
<div [hidden]="submitted">
  <form #addCustomerForm="ngForm">

    <!-- ########username -->
    <div class="form-group">
      <label for="Username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" required
        [(ngModel)]="customer.username" name="username" #username="ngModel">
      <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
        Username is required
      </div>
    </div>

    <!-- ########user_id -->
    <div class="form-group">
      <label for="Username">User ID</label>
      <input type="text" class="form-control" id="user_id" placeholder="Enter User ID" required
        [(ngModel)]="customer.user_id" name="user_id" #user_id="ngModel" minlength="6" maxlength="6">
      <div [hidden]="user_id.valid || user_id.pristine" class="alert alert-danger">
        โปรดกรอก User ID 6 หลัก
      </div>
    </div>

    <!-- ########firstname -->
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" placeholder="กรอกชื่อจริง" required
        [(ngModel)]="customer.firstname" name="firstname" #firstname="ngModel">
      <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
        First Name is required
      </div>
    </div>

    <!-- ########lastname -->
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" placeholder="กรอกนามสกุล" required
        [(ngModel)]="customer.lastname" name="lastname" #lastname="ngModel">
      <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
        Last Name is required
      </div>
    </div>

    <!-- ########E-mail -->
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="กรอก Email" required [(ngModel)]="customer.email"
        name="email" #email="ngModel">
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        email is required
      </div>
    </div>

    <!-- ########password -->
    <div class="form-group">
      <label for="Password">Password</label>
      <input type="text" class="form-control" id="password" placeholder="กรอกรหัสผ่าน" required
        [(ngModel)]="customer.password" name="password" #password="ngModel">
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password is required
      </div>
    </div>

    <!-- ########user type -->
    <div class="form-group">
      <label for="type">ประเภทผู้ใช้</label>
      <select class="custom-select" id="type" [(ngModel)]="customer.type" name="type"
        aria-label="Example select with button addon" required>
        <option value="1">Student</option>
        <option value="2">Teacher</option>
        <option value="3">Admin</option>
      </select>
    </div>

    <div class="btn-group ">
      <button type="button" class="btn btn-dark" (click)="goBack()">กลับ</button>
      <button type="button" class="btn btn-success" (click)="addCustomer()"
        [disabled]="!addCustomerForm.form.valid">เพิ่มผู้ใช้งาน</button>
    </div>
  </form>
</div>

<div [hidden]="!submitted">
  <p>เพิ่มผู้ใช้ -> <span class="badge badge-light">{{customer.firstname}} {{customer.lastname}}</span> เรียบร้อย</p>
  <div class="btn-group ">
    <!-- <button type="button" class="btn btn-dark" (click)="goBack()">กลับ</button> -->
    <button type="button" class="btn btn-success" (click)="newCustomer(); addCustomerForm.reset()">ยืนยัน</button>
  </div>
</div>