<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">

<form #registerForm="ngForm" (submit)="onSubmit(registerForm.value)">
  <div class="card login-form btn">
    <div class="card-header">สมัครสมาชิก</div>
    <div class="card-body">

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="">Username</label>
            <input ngModel name="username" type="text" class="form-control" placeholder="Username">
          </div>
        </div>
        <div class="col">
          <div class="form-group invisible">
            <label for="">UID</label>
            <input [(ngModel)]="UID" name="user_id" type="text" class="form-control">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="">ชื่อจริง</label>
            <input ngModel name="firstname" type="text" class="form-control" placeholder="Firstname">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="">นามสกุล</label>
            <input ngModel name="lastname" type="text" class="form-control" placeholder="Lastname">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="">อีเมลล์</label>
        <input ngModel name="email" type="text" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="">รหัสผ่าน</label>
        <input ngModel name="password" type="password" class="form-control" placeholder="Password">
      </div>

      <div class="form-group">
          <input [(ngModel)]="type" name="type" type="hidden" class="form-control" placeholder="Password">
        </div>

    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col"><button type="submit" class="btn btn-primary btn-block btn-lg">สมัครสมาชิก</button></div>
        <div class="col">เป็นสมาชิกอยู่แล้ว <a routerLink="/home">เข้าสู่ระบบ</a></div>
      </div>
    </div>
  </div>
</form>

<!-- <div class="btn-group ">
          <button type="button" class="btn btn-success" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">สมัครสมาชิก</button>
      </div>
    </form>
</div>
</div> -->