<form #registerForm="ngForm">
    <div class="card">
      <div class="card-header">เพิ่มวิชา</div>
      <div class="card-body">
  
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="">ชื่อวิชา</label>
              <input ngModel name="subject_Name" type="text" class="form-control" placeholder="ชื่อวิชา">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="">รหัสวิชา</label>
              <input [(ngModel)]="subjectID" name="subject_id" type="text" class="form-control">
            </div>
          </div>
        </div>
  
  
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="">คำอธิบายวิชา</label>
              <input ngModel name="subject_Description" type="text" class="form-control" placeholder="คำอธิบายวิชา">
            </div>
          </div>
        </div>
  
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col"><button class="btn btn-primary" (click)="onSubmit(registerForm.value)">เพิ่มรายวิชา</button></div>
          
          <button class="btn btn-dark" (click)="goBack()">กลับ</button>
        </div>
      </div>
    </div>
  </form>
  
  <!-- <div class="btn-group ">
            <button type="button" class="btn btn-success" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">สมัครสมาชิก</button>
        </div>
      </form>
  </div>
  </div> -->